<h1>Movies</h1>

<form [formGroup]="form">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search for a movie"
      formControlName="search"
      class="radarr-search"
    />
  </mat-form-field>
</form>

<virtual-scroller #scroll [items]="filteredMovieThumbnails" [bufferAmount]="12">
  <div class="existing-movies" #container>
    <pip-thumbnail
      *ngFor="let thumbnail of scroll.viewPortItems"
      [thumbnail]="thumbnail"
      [width]="imgWidth"
      (viewInit)="thumbnailViewInit()"
    ></pip-thumbnail>
  </div>
</virtual-scroller>
