@import '../../../styles/themes';
@import '../../../styles/variables';

:host {
  flex: 1;
  width: 70%;
  margin: 0 auto 2em auto;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1000px) {
    width: 90%;
  }
}

h1 {
  margin-top: 0;
}

form {
  flex: 0 0 auto;
  mat-form-field {
    width: 100%;
  }
}

virtual-scroller {
  height: 100%;
}

.existing-movies {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  margin: 0.5em;
  background-color: white;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  img {
    width: 140px;
  }
}

.downloaded-border {
  border-bottom: 5px solid;
  border-color: $border-color;
  &.downloaded {
    border-color: $success-green;
  }
  &.not-downloaded {
    border-color: getColor('warn');
  }
}

.thumbnail-info {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 0.25em;
}
