<h1>Movies</h1>

<form [formGroup]="form">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search for a movie"
      formControlName="search"
      class="radarr-search"
    />
  </mat-form-field>
</form>

<button (click)="resizeImages()">Resize</button>

<virtual-scroller #scroll [items]="filteredMovies" [bufferAmount]="12">
  <div class="existing-movies" #container>
    <div class="thumbnail" *ngFor="let movie of scroll.viewPortItems">
      <a [routerLink]="[movie.id]">
        <img
          [src]="movie.remotePoster"
          [ngClass]="movie.hasFile ? 'downloaded' : 'not-downloaded'"
          style.width="{{ imgWidth }}px"
          class="downloaded-border"
        />
        <!-- TODO - need placeholder in case remotePoster doesn't exist -->
        <div class="thumbnail-info">
          {{ movie.monitored ? 'Monitored' : 'Unmonitored' }}
        </div>
        <div class="thumbnail-info">
          {{ movie.profileId | pipQuality | async }}
        </div>
      </a>
    </div>
  </div>
</virtual-scroller>
