@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: $background-color;
}

.pip-nav-bar {
  margin-bottom: 1em;
}
