@import '../../../../styles/themes';
@import '../../../../styles/variables';

// TODO:P - Move this code to a shared styles file so duplicate code in sonarr could be used in both places

:host {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-bottom: 2em;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $result-item-background-color;
}

.results-item-header {
  margin-bottom: 14px;
  .result-detail-title {
    display: flex;
    font-size: 24px;
    margin-bottom: 0.25em;
    .result-detail-title-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 0.25em;
    }
    .result-detail-title-year {
      color: darken(#e9e9e9, 30);
      margin-right: 0.25em;
    }
    .lozenge {
      margin: auto 0 auto auto;
    }
  }

  .result-detail-additional-info {
    line-height: 18px;
    display: flex;
    flex-wrap: wrap;

    .lozenge {
      margin: 0.25em 5px 0 0;
    }
  }
}

.results-item-body {
  display: flex;
  .thumbnail-container {
    flex: 0 0 auto;
    img {
      height: 250px;
      width: 170px;
    }
  }

  .result-detail {
    margin-left: 2em;
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    &.no-margin {
      margin: 0;
    }

    .result-detail-description {
      overflow: auto;
      max-height: 120px;
      flex: 1;
      margin-bottom: 1em;
    }

    .result-actions {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .result-actions-input {
        flex: 1;
        margin-top: 1em;
      }

      .result-actions-buttons {
        margin-left: auto;
        button {
          margin-left: 1em;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .thumbnail-container {
      display: none;
    }
    .result-detail {
      margin: 0;
    }
  }
}
