<form [formGroup]="form" class="register-form" (ngSubmit)="register(form)">
  <pip-authentication-container [headerText]="headerText">
    <ng-container authenticationBody>
      <ng-container *ngIf="emailHasBeenSent; else registerForm">
        <mat-icon>check_circle</mat-icon>
        <h2>Thanks for registering!</h2>
        <p>You will receive an email shortly to complete your registration.</p>
      </ng-container>
      <ng-template #registerForm>
        <mat-form-field appearance="outline" id="email">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            autocomplete="email"
            required
          />
          <mat-error *ngIf="form.controls.email.hasError('email')">
            Invalid email
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" id="firstName">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            autocomplete="given-name"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" id="lastName">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            autocomplete="family-name"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="outline" id="password">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required />
        </mat-form-field>
        <mat-form-field appearance="outline" id="confirmPassword">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            type="password"
            required
          />
          <mat-error *ngIf="form.controls.confirmPassword.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <mat-error class="api-error" *ngIf="error">
          {{ error.message }}
        </mat-error>

        <button mat-raised-button color="primary" type="submit">
          Register
        </button>
      </ng-template>
    </ng-container>
  </pip-authentication-container>
</form>
