.confirm-registration {
  margin: 2em auto 0;
  width: 320px;
}

.mat-icon {
  color: #32cd32;
  height: 48px;
  width: 48px;
  font-size: 48px;
  align-self: center;
}

p {
  text-align: center;
}

.api-error {
  margin-bottom: 1em;
}
